.wp-block-columns {
    flex: auto;
    flex-direction: row;
}

a {
    color: red;
}

a:visited {
    color: red;
}

.email-form {
    background-color: orange;
}

.secondary {
    display: none;
}

form {
    margin-top: 0em;
    position: relative;
    display: block;
    max-width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 6em;
    padding-bottom: 4em;
    background-color: #f1f1f1;
    background-image: url(https://assets-global.website-files.com/5d65760…/5f735fe…_background-footer.jpg);
    background-position: 50% 0;
    background-size: 3000px;
    background-repeat: no-repeat;
    text-align: center;
}